<!-- Bootstrap Classes call -->
<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Wooh let's f***ing do this</p>
    <a href="/gameentry/add" class="btn btn-dark btn-lg">Get Started</a>
</div>